@{
    ViewData["Title"] = "Entries";
}

<div class="text-center p-3">
    <h1>Entries</h1>
    <form asp-controller="Admin" asp-action="Entries" method="post">
        <div class="mb-3 row">
            <a class="btn btn-info" asp-controller="Admin" asp-action="CreateEntry" asp-route-username="admin">Create</a>
        </div>
        <div class="mb-3 row">
            <div class="d-flex">
                <input type="text" class="form-control" name="search" placeholder="Search tweets or authors" value="@ViewBag.Search" />
                <select class="form-select" name="orderBy">
                    <option value="@ViewBag.Order" selected>Ordered by @ViewBag.Order</option>
                    <option value="Id">Id</option>
                    <option value="Size">Size</option>
                    <option value="Date">Date</option>
                    <option value="Likes">Likes</option>
                    <option value="Retweets">Retweets</option>
                    <option value="Comments">Comments</option>
                </select>
                <select class="form-select" name="ascending">
                    <option value="@ViewBag.Ascending" selected>@(ViewBag.Ascending ? "Ascending" : "Descending")</option>
                    <option value="@(!ViewBag.Ascending)">@(ViewBag.Ascending ? "Descending" : "Ascending")</option>
                </select>
                <input type="submit" class="btn btn-primary" value="Search" />
            </div>
        </div>
    </form>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Date</th>
                <th scope="col">Likes</th>
                <th scope="col">Retweets</th>
                <th scope="col">Comments</th>
                <th scope="col">Author</th>
                <th scope="col">Text</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Entry entry in ViewBag.Entries)
            {
                <tr>
                    <th scope="row">@entry.Id</th>
                    <td>@entry.Timestamp.Date.ToShortDateString()</td>
                    <td>@entry.LikeCount</td>
                    <td>@entry.RetweetCount</td>
                    <td>
                        @entry.CommentCount
                        <a class="btn btn-link" asp-controller="Admin" asp-action="EntryComments" asp-route-id="@entry.Id">View</a>
                    </td>
                    <td>
                        <a class="btn btn-link" asp-controller="Admin" asp-action="EditUser" asp-route-id="@entry.AuthorId">@entry.Author.Username</a>|
                        <a class="btn btn-link" asp-controller="Admin" asp-action="CreateEntry" asp-route-username="@entry.Author.Username">Post</a>
                    </td>
                    <td class="text-break" style="font-size: small; max-width: 150px;">@(entry.Text)</td>
                    <td>
                        <a class="btn btn-link" asp-controller="Admin" asp-action="EditEntry" asp-route-id="@entry.Id">Edit</a>|
                        <a class="btn btn-link" asp-controller="Admin" asp-action="DeleteEntry" asp-route-id="@entry.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <form asp-controller="Admin" asp-action="Entries" asp-route-search="@ViewBag.Search"
          asp-route-orderBy="@ViewBag.Order" asp-route-ascending="@ViewBag.Ascending" method="post">
        <div class="btn-toolbar float-right pb-5" role="toolbar">
            <div class="btn-group me-2" role="group">
                @if (ViewBag.Page == 1)
                {
                    <button type="button" class="btn btn-light" disabled>Previous</button>
                }
                else
                {
                    <a type="button" class="btn btn-light" asp-controller="Admin" asp-action="Entries" asp-route-page="@(ViewBag.Page - 1)"
                       asp-route-search="@ViewBag.Search" asp-route-orderBy="@ViewBag.Order" asp-route-ascending="@ViewBag.Ascending">Previous</a>
                }

                @if (ViewBag.PageCount == ViewBag.Page)
                {
                    <button type="button" class="btn btn-light" disabled>Next</button>
                }
                else
                {
                    <a type="button" class="btn btn-light" asp-controller="Admin" asp-action="Entries" asp-route-page="@(ViewBag.Page + 1)"
                       asp-route-search="@ViewBag.Search" asp-route-orderBy="@ViewBag.Order" asp-route-ascending="@ViewBag.Ascending">Next</a>
                }
            </div>
            <input name="page" type="text" class="form-control w-auto" placeholder="Page number">
            <input type="submit" class="btn btn-primary" value="Go" />
            <span class="input-group-text pl-3">Page @ViewBag.Page of @ViewBag.PageCount</span>
        </div>
    </form>
</div>