@{
    ViewData["Title"] = "Apps";
}

<div class="text-center p-3">
    <h1>Apps</h1>
    <div class="mb-3 row">
        <a class="btn btn-info" asp-controller="Admin" asp-action="RegisterApp">Register</a>
    </div>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Info</th>
                <th>Current Key</th>
                <th>Path</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (AppModel app in ViewBag.Apps)
            {
            <tr>
                <td class="text-break">@app.Name</td>
                <td class="text-break">@app.Info</td>
                <td class="text-break" style="max-width: 500px">@app.Key</td>
                <td>@(app.Path is null ? "None" : app.Path)</td>
                <td>
                    <form asp-controller="Admin" asp-action="IssueAppKey" asp-route-name="@app.Name">
                        <button type="submit" class="btn btn-link">Issue key</button>|
                        <a class="btn btn-link" asp-controller="Admin" asp-action="EditApp" asp-route-name="@app.Name">Edit</a>|
                        <a class="btn btn-link" asp-controller="Admin" asp-action="DeleteApp" asp-route-name="@app.Name">Delete</a>
                    </form>
                </td>
            </tr>
             }
        </tbody>
    </table>
</div>